<!DOCTYPE html>
<html>
  <head>
    <title>UserAppearancesDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if user_signed_in? %>
      <div class="absolute top-0 right-0 m-4">
        <%= button_to("Sign Out", destroy_user_session_path, method: :delete) %>
      </div>
      <% end %>

      <div class="flex-auto w-2/3">
        <%= yield %>
      </div>

      <div class="flex-auto w-1/3 bg-gray-200">
        <%= turbo_frame_tag(:user_appearances, src: user_appearances_path, loading: :lazy) do %>
          Loading Users...
        <% end %>
      </div>
    </main>
  </body>
</html>
